body {
    background-color: rgb(50, 50, 50);
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator {
    border-radius: 15px;
    margin: auto;
    width: 370px;
    height: 500px;
    background-color: rgb(38, 38, 38);
    padding: 1%
}

.display, .button-section {
    margin: 2%;
}

.display, button {
    border-radius: 5px;
}

.display {
    color: black;
    text-align: right;
    flex: 1;
    width: 355px;
    height: 100px;
    background-color: aqua;
    font-size: 90px;
    overflow: scroll;
}

.button-section {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4,1fr);
}

button {
    border: orange;
    background-color: orange;
    width: 100%;
    height: 70px;
}

button:hover {
    background-color: rgba(255, 167, 3, 0.82);
}

button:active {
    background-color: rgba(255, 167, 3, 0.611);
}

.large-button {
    grid-column: span 2;
}

footer, h1 {
    margin: 3%;
    text-align: center;
    color: white;
}

footer {
    font-size: 10px;
}